*.log


# data
*.rar
*.h5
*.csv
*.pkl
!inference/files/*.pkl
*.npy
*.torch
!inference/files/models_w/prematch/*.torch
*.json
scarpe/_dotaconstants
!scarpe/dotaconstants/*.json
!scarpe/dotaconstants/build/*.json
!scarpe/dotaconstants/json/*.json
!scarpe/output/leagues.json
!scarpe/output/prize_pools.json

*.exe
*.bat
*.cmd
train/logs/fit


.VSCodeCounter
.ipynb_checkpoints
__pycache__





