*.log


# data
*.rar
*.h5



*.json
!scarpe/dotaconstants/*.json
!scarpe/dotaconstants/build/*.json
!scarpe/dotaconstants/json/*.json

*.exe
*.bat
*.cmd
train/logs/fit


.VSCodeCounter
.ipynb_checkpoints
__pycache__





